.brands {
    .brands__float-btn {
        display: none;
    }

    .brands__inner {
        list-style: none;
        padding-bottom: 0;
        padding-top: 16px;
        width: 100%;
    }
    
    .brands__item {
        height: 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $colorWhite;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .brands__logo {
        padding-left: 16px;
    }

    .brands__button {
        padding-right: 16px;
    }
}
    


@media (min-width: 768px) {
    .brands {

        .brands__float-btn {
            display: flex;
            align-items: center;
            margin-left: 24px;
            margin-bottom: 16px;
            text-decoration: none;
            transition-property: text-decoration;
            transition-property: 0.15s;
        }

        .brands__float-btn:hover {
            text-decoration: underline;
            transition-property: text-decoration;
            transition-property: 0.15s;
        }

        .brands__float-btn--show::after {
            content: 'Показать все';
            padding-left: 8px;
            color: $textBlack;
            font-family: $fontMedium;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
        }

        .brands__float-btn--hide {
            transform: rotate(180deg);
        }
    
        .brands__float-btn--hide::before {
            content: 'Скрыть';
            padding-left: 8px;
            color: $textBlack;
            font-family: $fontMedium;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            transform: rotate(180deg);
        }

        .brands__inner {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            row-gap: 16px;
            column-gap: 12px;
            padding: 0 24px;
            box-sizing: border-box;
        }
    
        .brands__item {
            flex-basis: 220px;
            flex-grow: 1;
            flex-shrink: 0;
            max-width: 340px;
        }
    
    
        .brands__inner--hide {
            height: 160px;
            overflow: hidden;
            animation-name: text-hide;
            animation-fill-mode: backwards;
            animation-duration: 0.5s;
            animation-timing-function: linear;
        }
    
        .brands__inner--show {
            animation-name: text-show;
            overflow: visible;
            animation-fill-mode: backwards;
            animation-duration: 0.5s;
            animation-timing-function: linear;
        }
    }

    }


@media (min-width: 1440px) {
.brands {

    .brands__inner {
        row-gap: 16px;
        column-gap: 16px;
        padding-left: 30px;
    }
    
    .brands__item {
        min-width: 240px;
    }

}
}