.info-read {
    .info-read__text {
        color: $textBlack;
        font-family: $fontRegular;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        padding: 0 16px;
    }

    .info-read__text--hide {
        height: 110px;
        overflow: hidden;
        animation-name: text-hide;
        animation-fill-mode: backwards;
        animation-duration: 0.5s;
        animation-timing-function: linear;
    }

    .info-read__text--show {
        animation-name: text-show;
        overflow: visible;
        animation-fill-mode: backwards;
        animation-duration: 0.5s;
        animation-timing-function: linear;
    }

    .info-read__btn {
        margin-left: 15px;
        margin-bottom: 15px;
        padding-top: 16px;
        text-decoration: none;
        transition-timing-function: linear;
        transition-property: text-decoration;
        transition-duration: 0.15s;
    }

    .info-read__btn:hover {
        text-decoration: underline;
        transition-timing-function: linear;
        transition-property: text-decoration;
        transition-duration: 0.15s;
    }

    .info-read__btn--show::after {
        content: 'Читать далее';
        padding-left: 8px;
        color: $textBlack;
        font-family: $fontMedium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    
    }

    .info-read__btn--hide {
        transform: rotate(180deg);
    }

    .info-read__btn--hide::before {
        content: 'Скрыть';
        padding-left: 8px;
        color: $textBlack;
        font-family: $fontMedium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        transform: rotate(180deg);
    }

}

@media (min-width: 768px) {
    .info-read {

        .info-read__text--hide {
            height: 180px;
            overflow: hidden;
            transition-duration: 0.3s;
            transition-property: max-height;
        }
    }
}