.info-company {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;

    .info-company__image-photo {
        width: 100%;
        max-width: 600px;
        margin-bottom: 24px;
        align-self: center;
    }
}

@media (min-width: 768px) {
    .info-company {
        display: block;
        width: 100%;
        padding-bottom: 24px;

        .info-company__image-photo {
            border-radius: 6px;
            float: right;
            width: 50%;
            max-width: 800px;
            margin: 0 16px;
            margin-bottom: 8px;
        }

        .info-company__text {
            padding: 0 16px;
        }

    }
    
}

@media (min-width: 1440px) {
    .info-company {
        
        .info-company__image-photo {
            margin-bottom: 24px;
        }

    }
    
}