.info-company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .info-company__image-photo {
        display: block;
        width: 100%;
        max-width: 600px;
        margin-bottom: 24px;
        align-self: center;
    }
}

@media (min-width: 768px) {
    .info-company {
        flex-direction: row;
        justify-content: space-between;


        .info-company__image-photo {
            width: 50%;
            align-self: flex-start;
            border-radius: 8px;
            margin: 24px;
        }

        .info-company__text {
            width: 50%;
            padding: 0 16px;
        }

    }
    
}