.price {
    padding-bottom: 50px;
    
    .price__list {
        list-style: none;
        padding: 0;
        width: 100%;
        padding-top: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .price__item {
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 200px;
        background-color: $colorWhite;
        border-radius: 6px;
    }

    .price__title {
        padding: 0;
        margin: 0;
        color: $textGray;
        font-family: $fontRegular;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        mix-blend-mode: normal;
        opacity: 0.72;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }

    .price__description {
        padding: 0;
        margin: 0;
        font-family: $fontRegular;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: $textBlack;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 4px;
    }

    .price__btn {
        align-self: flex-end;
        margin-right: 16px;
        margin-bottom: 16px;
        position: relative;
        top: -36px;
    }

    .price__text-info {
        font-family: $fontRegular;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $textBlack;
        margin: 0 16px;
        max-width: 421px;
    }

    .price__btn-commercial {
        font-family: $fontMedium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $textBlack;
        margin: 0 12px;
        text-align: left;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 768px) {
    
    .price {
            margin: 24px;
            margin-top: 68px;

            .price__list {
                display: flex;
                flex-direction: column;
                background-color: $colorWhite;
                border-radius: 6px;
                overflow: visible;
                padding-top: 0;
                justify-content: space-between;
            }
        
            .price__title {
                display: none;
            }
    
            .price__description {
                padding: 0;
                white-space: nowrap;
            }
    
            .price__description:nth-child(1) {
                margin-left: 300px;
            }
    
            .price__item {
                flex-direction: row;
                align-items: center;
                border-bottom: 1px solid $colorGrayBorder;
                height: auto;
                border-radius: 0px;
                min-width: 96%;
                height: 63px;
                margin-left: 16px;
                padding-top: 0;
                justify-content: space-between;
                position: relative;
            }
    
            .price__item:last-child {
                border-bottom: none;
            }
    
            .price__btn {
                align-self: center;
                position: static;
                padding: 0;
                margin: 0;
            }
    
            .price__info--cost {
                display: flex;
                text-align: left;
                margin-left: auto;
                width: 52px;
                overflow: visible;
                align-items: flex-start;
                justify-content: flex-start;
            }
    
            .price__info--time {
                display: flex;
                margin-right: 40px;
                margin-left: 40px;
                min-width: 81px;
                align-items: flex-start;
                justify-content: flex-start;
            }
    
            .price__title--header {
                display: block;
                position: absolute;
                transform: translateY(-70px) translateX(-18px);
                color: $textGray;
                font-size: 14px;
                line-height: 16px;
                mix-blend-mode: normal;
                opacity: 0.72;
            }
    
    }

}

@media (min-width: 1024px) {
    .price {

        .price__info--cost {
            min-width: 80px;
        }

        .price__info--time {
            margin-right: 100px;
            margin-left: 100px;
        }
        
}
}