.technical-list {
    list-style: none;
    padding: 0;
    padding-top: 16px;

    .technical-list__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 160px;
        background-color: $colorWhite;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
    }

    .technical-list__text {
        padding: 16px;
        padding-top: 0;
        align-self: flex-start;
        font-family: $fontMedium;
        color: $textBlack;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }

    .technical-list__btn-go {
        padding: 16px;
        align-self: flex-end;
    }
}

@media (min-width: 768px) {
    .technical-list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 12px;
        padding-left: 24px;
        padding-right: 24px;

        .technical-list__item {
            width: 220px;
        }
    }

    .technical-list--hide {
        max-height: 162px;
        overflow: hidden;
        animation-name: text-hide;
        animation-fill-mode: backwards;
        animation-duration: 0.5s;
        animation-timing-function: linear;
    }

    .technical-list--show {
        animation-name: text-show;
        overflow: visible;
        animation-fill-mode: backwards;
        animation-duration: 0.5s;
        animation-timing-function: linear;
    }
}

@media (min-width: 1440px) {

    .technical-list {
        row-gap: 16px;
        column-gap: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }
}