$colorWhite: #FFFFFF;
$colorGray: #F8F8F8;
$textBlack: #1B1C21;
$borderAqua: #D9FFF5;
$textGray: #7E7E82;
$colorGrayBorder: #EAEAEA;
$borderBlue: #B8FFEC;
$fontRegular: 'TT Lakes Regular';
$fontMedium: 'TT Lakes Medium';
$fontBold: 'TT Lakes Bold';